<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">



<dom-module id="my-view2">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

      <img class="foto1" src="https://mir-s3-cdn-cf.behance.net/projects/404/6de81581439231.Y3JvcCwxNDk3LDExNzEsNTE1LDg4.png" alt="imagen 1">

      <div class="circle">CE</div>
      <h1>Categorizador Enterprise</h1>
      <h2>Elección de categorías</h2>
      <div class="row">
        <button on-click="obtenerClientes" class="btn btn-success" type ="button" name ="button">Clientes Internacionales</button>
        <button on-click="obtenerClientes2" class="btn btn-success" type ="button" name ="button">Clientes de la cartera</button>
        <button on-click="limpiar" class="btn btn-warning" type ="button" name ="button">limpiar</button>
      </div>

      <div class="row">
                <table class = "table th">
              <tr>

                <font color="white" face="Comic Sans MS,arial">
                  <th  > <i></i></th>

                  <th  > <i></i></th>

                  <th > <i></i></th>



              </tr>
              </table>
            </div>

      <div class="row">


        <table class = "table" hidden$="[[quitar]]">
          <tbody>
            <template is="dom-repeat" items={{clientes}} >

              <tr>
                <td>
                  [[item.CustomerID]]
                </td>
                <td>
                  [[item.ContactName]]
                </td>
                <td>
                  [[item.CompanyName]]
                </td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>

      <div class="row">
      <table class = "table2"  hidden$="[[quitar]]" >
        <tbody>
          <template is="dom-repeat" items={{clientes2}} >

            <tr>
              <td>

                [[item.CustomerID]]
              </td>
              <td>
                [[item.ContactName]]
              </td>
              <td>
                [[item.CompanyName]]
              </td>
            </tr>

          </template>
        </tbody>
      </table>
      </div>

  </template>

  <script>
    class MyView2 extends Polymer.Element {
      static get is() { return 'my-view2'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true

          },
          clientes2: {
            type: Array,
            notify: true

          }

        };
      }
      obtenerClientes(){
      var request = new XMLHttpRequest();
      request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
      request.setRequestHeader("Accept", "application/json");
      request.send();
      this.clientes = JSON.parse(request.responseText).value;
      //console.log(this.clientes);
      console.table(this.clientes);
      this.quitar=false;
      }

      obtenerClientes2(){
      var request = new XMLHttpRequest();
      request.open("GET","http://localhost:3000/clientes2",false);
      request.setRequestHeader("Accept", "application/json");
      request.send();
      console.log(JSON.parse(request.responseText));
      this.clientes2 = JSON.parse(request.responseText);


      console.log( this.clientes2);
      console.table(this.clientes2);
      this.quitar=false;
      }

      limpiar(){
        this.quitar=true;
        this.clientes2 = null;
        this.clientes = null;


      }



    }

    window.customElements.define(MyView2.is, MyView2);
  </script>
</dom-module>
